body {
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
}

label {
    font-size: large;
    margin-bottom: 5px;
}

img {
    position: relative;
    top: 6px;
    width: 35px;
    height: auto;
}

textarea{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    border: none;
    margin-bottom:10px;
}

.analyzeForm {
    display: flex;  
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    margin:auto;
    width: 100%;
    height: 85vh;
}

.containerAnalysis {
    display: flex;
    width: 47vmax;
    flex-direction:column;
    margin-right: 10px;
}

.containerAnalysis textarea {
    min-height: 220px;
    height: 100%;
    resize: vertical;
}

.containerQuestionAnswer {
    display: flex;
    width:47vmax;
    flex-direction:column;
    align-items: center;
    margin-right: 10px;
}

.inputQuestion {
    display: flex;
    flex-direction:column;
    height: 82px;
    width: 100%;
}

.inputQuestion input {
    height: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding: 5px;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    border: none;
}



.textAreaAnswer {
    display: flex;
    flex-direction:column;
    width: 100%;
    height: 100%;
    min-height: 100px;
}

.textAreaAnswer textarea{
    min-height: 100px;
    height: 100%;
    resize: vertical;
}

.submitButton {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    color: black;
    border: solid 2px #0060DF;
    transition-duration: 0.2s;
}
  
  .submitButton:hover {
    background-color: #0060DF; /* Green */
    color: white;
  }

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #0060DF; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
  }

  
.loaderContainer{
    display: none;
    margin-top: 20px;
    margin-bottom: 12px;

}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

