<!DOCTYPE html>
<html>

<head>
    <title>Input and Output Fields</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Input and Output Fields</h1>
    <form action="/send_question" method="POST" name="question_form">
        <div class="analyzeForm">
            <div class="textArea">
                <label for="textToAnalyze">Text for Analysis:</label>
                <textarea id="textToAnalyze" name="textToAnalyze"></textarea><br><br>
            </div>
            <div class="textArea">
                <label for="question">Question:</label>
                <textarea id="question" name="question"></textarea><br><br>
            </div>
        </div>
        <input class="submitButton" type="button" value="Submit Question" onclick="processInputs()">
        <div class="textAreaAnswer">
            <label for="answer">Answer:</label>
            <textarea id="answer" name="answer"></textarea><br><br>
        </div>
    </form>

    <script>
        function processInputs() {
            var text = document.getElementById("textToAnalyze").value;
            var question = document.getElementById("question").value;
            var answer = document.getElementById("answer");

            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/getAnswer');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function () {
                if (xhr.status === 200) {
                    console.log(xhr.responseText);
                    answer.value = xhr.responseText
                } else {
                    console.error(xhr.statusText);
                }
            };
            xhr.onerror = function () {
                console.error(xhr.statusText);
            };
            xhr.send(JSON.stringify({ text: text, question: question })); 

            // Process the inputs and set the output value
            // answer.value = "textToAnalyze: " + text + "\nquestion: " + question;
        }
    </script>
</body>

</html>
